{% extends 'layouts/layout.twig' %}

{% block extras_header_code %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald:300,400" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="speakers">
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>
        <div class="speaker"></div>    
    </div>


{% endblock %}

{% block footer %}{% endblock %}
